{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    
    <header class="header bg-light">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <div id="nav" class="container">
                    <a class="navbar-brand" href="#">Videoclub</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbar" class="navbar-collapse collapse justify-content-end">
                        <ul class="navbar-nav mt-2 mt-md-0">
                            <li class="nav-item"><a class="nav-link" href={% url 'login_user' %}>Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Peliculas</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Ajustes</a></li>
                            <li class="nav-item"><a class="nav-link" href={% url 'index' %}>Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section id="buscar_pelicula" class ="container">
        <form>
            <label for="nombre_pelicula">Introduce el nombre de la pelicula:</label>
            <input type="text" id="nombre_pelicula" name="nombre_pelicula">
            <input type="submit" value="Buscar">
        </form>
    </section>
    <section id="peliculas_nuevas" class="mb-5">
        <div class="container">
            <h2>Añadidas esta semana</h2>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img src="img/1917.jpg" alt="1917" width="160" height="200" class="mx-auto d-block"> 
                        </div>
                        <div class="col-9">
                            <h3>Título: 1917</h3>
                            <p>Año lanzamiento: 2019</p>
                            <p>Director: Sam Mendes</p>
                            <p>La película sigue a dos jóvenes soldados británicos a lo largo de un único día en lo más crudo de la Primera Guerra Mundial.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img src="img/soul.jpg" alt="Soul" width="160" height="200" class="mx-auto d-block"> 
                        </div>
                        <div class="col-9">
                            <h3>Título: Soul</h3>
                            <p>Año lanzamiento: 2020</p>
                            <p>Director: Pete Docter</p>
                            <p>Los ritmos pegadizos, acentuados por palmas y movimientos corporales espontáneos, son un importante elemento del soul. Otras características son la llamada y respuesta entre el solista y el coro, y un sonido vocal particularmente tenso.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img src="img/mank.jpg" alt="Mank" width="160" height="200" class="mx-auto d-block"> 
                        </div>
                        <div class="col-9">
                            <h3>Título: Mank</h3>
                            <p>Año lanzamiento: 2020</p>
                            <p>Director: David Fincher</p>
                            <p>se adentra en el Hollywood de 1930 a través de los ojos de Herman Mankiewicz, uno de los más grandes libretistas de la época, a quien el alcohol le hizo perder su reputación.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>