{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
</head>
<body>
    <header class="header bg-light">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <div id="nav" class="container">
                    <a class="navbar-brand" href="#">Videoclub</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbar" class="navbar-collapse collapse justify-content-end">
                        <ul class="navbar-nav mt-2 mt-md-0">
                            <li class="nav-item"><a class="nav-link" href={% url 'login_admin' %}>Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href={% url 'films' %}>Peliculas</a></li>
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                                    Acciones peliculas
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href={% url 'new_film' %}>Añadir peliculas</a></li>
                                    <li><a class="dropdown-item" href={% url 'modify_films' %}>Borrar/Modificar peliculas</a></li>
                                    </ul>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                                    Usuarios
                                </a>
                                
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><Añadir class="dropdown-item" href={% url 'new_user' %}>Añadir usuario</a></li>
                                    <li><a class="dropdown-item" href={% url 'new_admin' %}>Añadir admin</a></li>
                                    <li><a class="dropdown-item" href={% url 'modify_users' %}>Borrar/Modificar</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">Ajustes</a></li>
                            <li class="nav-item"><a class="nav-link" href={% url 'get_logout' %}>Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section id="formulario_user" class ="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nuevo admin</h4>
                <form action = {%url 'add_admin' %} method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col" id="inicio-login">
                            <div class="form-group">
                                <output id="campos-formulario">Nombre de admin:</output>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Introduce tu nombre de usuario" required="true">
                            </div>
                            <div class="form-group">
                                <output id="campos-formulario">Contraseña:</output>
                                <input type="password" class="form-control" id="password" name ="password" placeholder="*********" required="true">
                            </div>
                            <div class="form-group">
                                <output id="campos-formulario">Email:</output>
                                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Introduce tu email" required="true">
                            </div>
                            <div class="form-group">
                                <a href="">
                                    <button id="boton-inicio" type="submit" class="btn btn-primary">Añadir</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>      
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>