body, html {
    background-image: url("../../templates/myapp/img/cine.jpg"); 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#navbar {
    justify-content: end;
}

.navbar-brand {
    font: caption;
    font-size: 35px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.card-title {
    text-align:center;
    font-size: 30px;
}

.form-group{
    margin-top: 15px;
}

#formulario, #formulario_peliculas, #formulario_user{
    margin-top: 30px;
    width: 50%;
}

#campos-formulario{
    text-align: end;
}

#boton-inicio {
    width: 100%;
}

#inicio-registro{
    justify-content: center;
    align-items: center;
}

.padre{
    justify-content: center;
    align-items: center;
}
#buscar_pelicula, #buscar_usuario{
    margin-top: 20px;
    width: 50%;
    color:white;
}

#peliculas_nuevas >  div > h2{
    color: white;
}
