.card-title {
    text-align:center;
    font-size: 30px;
}

.form-group{
    margin-top: 15px;
}

#formulario{
    margin-top: 20px;
    width: 50%;
}

#ampos-formulario{
    text-align: end;
}

#boton-inicio {
    width: 100%;
}

#inicio-registro{
    justify-content: center;
    align-items: center;
}

.padre{
    justify-content: center;
    align-items: center;
}